TAKAHE_DATABASE_SERVER=postgresql://...
TAKAHE_SECRET_KEY=a_bad_secret
TAKAHE_MEDIA_BACKEND=local:///data/
TAKAHE_MAIN_DOMAIN=takahe.pindropt.fail
TAKAHE_EMAIL_SERVER=sendgrid://sendgrid-token
TAKAHE_EMAIL_FROM=takahe@pindropt.fail
TAKAHE_AUTO_ADMIN_EMAIL=chris@moultrie.org
TAKAHE_USE_PROXY_HEADERS="true"
TAKAHE_ERROR_EMAILS='["chris@moultrie.org"]'
TAKAHE_CSRF_HOSTS='["http://127.0.0.1:8000", "https://127.0.0.1:8000", "https://takahe.pindropt.fail"]'
TAKAHE_CORS_HOSTS='["http://127.0.0.1:8000", "https://127.0.0.1:8000", "https://takahe.pindropt.fail"]'
TAKAHE_DEBUG=false
